
.home-area{
    background-image:url('https://i.ibb.co/gPd321R/edited.jpg');
    background-attachment:fixed;
    background-size: cover;
    background-repeat: repeat-y;
    height:100%;
    padding-top: 200px;
}

@media (max-width: 767.98px) {
    .home-area{
        height: auto;
        padding:150px 0
    }
}